td:first-child {
    border-left: 3px solid black;
}

td:nth-child(3n) {
    border-right: 3px solid black;
}

tr:first-child {
    border-top: 3px solid black;
}

tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

.cell {
    border: 1px solid black;
}

.cell:has(.cellInput:focus) {
    background-color: yellow;
}

.cellInput {
    width: 32px;
    height: 32px;
    border: none;
    font-size: 32px;
    outline: none;
}

.cellInput:focus {
    background-color: yellow;
}

.userCell {
    color: black;
}

.solvedCell {
    color: red;
}