.board {
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    border-collapse: collapse;
}

.row:first-child {
    border-top: 3px solid black;
}

.row:nth-child(3n) {
    border-bottom: 3px solid black;
}

.cell:first-child {
    border-left: 3px solid black;
}

.cell:nth-child(3n) {
    border-right: 3px solid black;
}

.cell {
    border: 1px solid black;
}

.cell:has(.cellInput:focus) {
    background-color: #ffee9c;
}

.cellInput {
    width: 32px;
    height: 32px;
    border: none;
    font-size: 32px;
    outline: none;
    text-align: center;
}

.cellInput:focus {
    background-color: #ffee9c;
}

.userCell {
    color: black;
}

.solvedCell {
    color: #df3131;
}